<li><a href="{% url 'custom__table_home' subdomain='data' %}">-&gt; Big Tables</a></li>
<li><a href="{% url 'custom__geo_home' subdomain='data' %}">-&gt; Geospatial</a></li>
<li><a href="{% url 'custom__web_home' subdomain='data' %}">-&gt; World Wide Web</a></li>
<li><a href="{% url 'custom__graph_home' subdomain='data' %}">-&gt; Graphs</a></li>
<li><a href="{% url 'custom__ontology_home' subdomain='data' %}">-&gt; Ontologies</a></li>
<li><a href="{% url 'ontologies__contact_list' subdomain='data' %}">(*) Contacts</a></li>
<li><a href="{% url 'ontologies__event_list' subdomain='data' %}">(*) Events</a></li>

