{% extends 'layouts/dashboard.html' %}

{% block page_title %}
CKAN
<small>Comprehensive Knowledge Archive Network</small>
{% endblock %}

{% block before_widgets %}
				    <div class="col-md-3 col-sm-4">
					    <div class="widget widget-stats bg-green">
						    <div class="stats-icon"><i class="fa fa-sitemap"></i></div>
						    <div class="stats-info">
							    <h4>Data Hubs</h4>
							    <p>{{ opendata.ckan.hub|length }}</p>	
						    </div>
						    <div class="stats-link">
							    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
						    </div>
					    </div>
				    </div>
				    <div class="col-md-3 col-sm-4">
					    <div class="widget widget-stats bg-blue">
						    <div class="stats-icon"><i class="fa fa-archive"></i></div>
						    <div class="stats-info">
							    <h4>DataSets</h4>
							    <p>{{ opendata.ckan.dataset|length }}</p>	
						    </div>
						    <div class="stats-link">
							    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
						    </div>
					    </div>
				    </div>
				    <div class="col-md-3 col-sm-4">
					    <div class="widget widget-stats bg-red">
						    <div class="stats-icon"><i class="fa fa-briefcase"></i></div>
						    <div class="stats-info">
							    <h4>Resources</h4>
							    <p>{{ opendata.ckan.resource|length }}</p>	
						    </div>
						    <div class="stats-link">
							    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
						    </div>
					    </div>
				    </div>
{% endblock %}

{% block after_widgets %}
{% endblock %}

