<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Graffeine</title>
        <link rel="stylesheet" media="all" href="{% static 'graffeine/stylesheets/graffeine.css' %}" />
        <link rel="stylesheet" media="all" href="{% static 'graffeine/stylesheets/graph.css' %}" />
        <link rel="stylesheet" media="all" href="{% static 'graffeine/stylesheets/font-awesome.css' %}" />
        <link rel="stylesheet" media="all" href="{% static 'graffeine/stylesheets/jquery-ui-1.10.2.custom.css' %}" />
        <link rel="stylesheet" media="all" href="{% static 'graffeine/stylesheets/jquery.svg.css' %}">
        <link rel="stylesheet" media="all" href="{% static 'graffeine/stylesheets/drwho.css' %}">

        <script src="{% static 'graffeine/javascripts/d3.v2.js' %}"></script>
        <script src="{% static 'graffeine/javascripts/jquery-1.9.1.js' %}"></script>
        <script src="{% static 'graffeine/javascripts/underscore.min.js' %}"></script>
        <script src="{% static 'graffeine/javascripts/jquery-ui-1.10.2.custom.js' %}"></script>
        <script src="{% static 'graffeine/javascripts/jquery.ui.touch-punch-0.2.2.js' %}"></script>
        <script src="{% static 'graffeine/javascripts/jquery.svg.js' %}"></script>
        <script src="{% static 'graffeine/socket-io.js' %}"></script>
        <script>
var Graffeine = Graffeine || {};

Graffeine.conf = {};

/**
 *  Generic (and global) graph settings
 *
 *  @namespace Graffeine.conf.graphSettings
**/

Graffeine.conf.graphSettings = {
    width:                800,  // width of the graph UI display
    height:               600,  // height of the graph UI display
    nodeLimit:             50,  // Max nodes to display in UI
    circleRadius:          45,  // Radius of circles (nodes)
    linkDistance:         250,  // Distance between circles (nodes)
    charge:             -1200,  // node repel charge
    selectedClass: 'selected'   // css class for selected (clicked) nodes
};

Graffeine.conf.core = {
    host: 'http://proto.uchikoma.xyz:7000'    // where the node.js server be at
};

// the URL of the WAMP Router (Crossbar.io)
//
AUTOBAHN_DEBUG = false;

wsuri = "ws://proto.uchikoma.xyz:9000/junction";

wsuri = "ws://127.0.0.1:9000/junction";
        </script>
        <script src="http://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script>
var graph;

$(function() {                
    graph  = new Graffeine.graph(Graffeine.conf);
    graph.debug = true;
    graph.command.init();   // start comms
    graph.ui.init();        // start ui
});
        </script>
    </head>
    <body>
        <div id="container">
            <h1 class="brand">Graffeine</h1>
            <div id="flash"></div>
            <div id="console">
                <div class="stats">
                    <span class="section-label centered width-50">neo4j</span>
                    <span class="item-label centered width-30">|V|</span>
                    <span class="item-value centered width-40" id="db-node-max">-</span>
                    <span class="item-label centered width-30">|E|</span>
                    <span class="item-value centered width-40" id="db-rels-max">-</span>
                    <span class="section-label centered width-50">vis</span>
                    <span class="item-label centered width-30">V</span>
                    <span class="item-value centered width-20" id="graph-node-count">-</span>
                    <span class="item-label centered width-30">E</span>
                    <span class="item-value centered width-20" id="graph-link-count">-</span>
                    <span class="item-label centered width-30">R</span>
                    <span class="item-value centered width-20" id="graph-rel-types-count">-</span>
                    <span class="item-label centered width-30">V<sub>max</sub></span>
                    <span class="item-value centered width-20" id="graph-node-max">-</span>
                    <span class="item-label centered width-30">V<sub>0</sub></span>
                    <span class="item-value centered width-20" id="graph-root">-</span>
                    <span class="section-label centered width-50">node</span>
                    <span class="item-label centered width-30">V<sub>n</sub></span>
                    <span class="item-value centered width-20" id="node-selected-id">-</span>
                    <span class="item-label centered width-30">V<sub>deg</sub></span>
                    <span class="item-value centered width-20" id="node-selected-degrees">-</span>
                </div>
                <div>
                    <div id="menu">
                        <div class="section-label centered">neo4J</div>
                        <div class="centered">
                            <button class="form-button width-100" id="graph-init">connect</button>
                        </div>
                        <div class="section-label centered">vis</div>
                        <div class="subsection-label centered">force</div>
                        <div class="centered">
                            <button class="form-button width-100" id="graph-force-start">start</button>
                            <button class="form-button width-100" id="graph-force-stop">stop</button>
                        </div>
                        <div class="subsection-label centered">mode</div>
                        <div class="centered">
                            <button class="form-button width-100" id="graph-mode">replace</button>
                        </div>
                        <div class="subsection-label centered">fetch</div>
                        <div class="subsection">
                            <span class="item-label width-50">start</span>
                            <input class="width-100" type="text" value="1" id="graph-start">
                            <span class="hang-right"><button class="form-button width-50" id="graph-fetch">go</button></span>
                        </div>
                        <div class="subsection">
                            <span class="item-label width-50">filter</span>
                            <span class="item-value width-100">orphans</span>
                            <span class="hang-right"><button class="form-button width-50" id="nodes-orphans">go</button></span>
                        </div>
                        <div class="subsection-label centered">find</div>
                        <div class="subsection">
                            <span class="item-label width-50">name</span>
                            <input class="width-100" type="text" id="node-find-name">
                        </div>
                        <div class="subsection">
                            <span class="item-label width-50">type</span>
                            <select id="node-find-types-list"></select>
                            <span class="hang-right"><button class="form-button width-50" id="node-find-button">go</button></span>
                        </div>
                        <div class="subsection-label centered">add</div>
                        <div class="subsection">
                            <span class="item-label width-50">type</span>
                            <select id="node-add-new-types-list"></select> or 
                            <input class="width-50" type="text" id="node-new-type" size="8">
                        </div>
                        <div class="subsection">
                            <span class="item-label width-50">name</span>
                            <input class="width-100" type="text" id="node-new-name" size="8">
                            <span class="hang-right"><button class="form-button width-50" id="node-add">add</button></span>
                        </div>
                        <div class="section-label centered">node</div>
                        <div id="node-edit-toggle">
                            <form id="node-data"></form>
                            <div class="centered">
                                <button class="form-button" id="node-edit-update">update</button>
                                <button class="form-button" id="node-edit-delete">delete</button>
                                <button class="form-button" id="node-edit-duplicate">duplicate</button>
                            </div>
                        </div>
                </div>

                                    </div><!-- /menu -->
                    <div id="graph">
                    </div>
                </div>
            </div>

            <!-- dialogs -->

                <!-- new-relationship-dialog-form -->

                <div class="dialog" id="new-relationship-dialog-form" title="Create new relationship">
                    <form>
                        <fieldset>
                            <label id="new-relationship-dialog-source"></label><br/>
                            <select id="new-relationship-dialog-options"></select> or
                            <input type="text" size="10" name="new-relationship-dialog-name" id="new-relationship-dialog-name" /><br/>
                            <label id="new-relationship-dialog-target"></label>
                        </fieldset>
                    </form>
                </div>

                <!-- node-hover-information-popup -->

                <div class="tooltip" id="node-info" title="Node Info">
                    <div class="form-ctrl-group">
                        <div class="form-menu-heading">Node</div>
                    </div>
                    <div class="form-ctrl-group">
                        <div id="node-rels">-</div>
                    </div>
                    <div class="form-ctrl-group">
                        <div class="form-menu-heading">Labels</div>
                    </div>
                    <div class="form-ctrl-group">
                        <div id="node-labels">-</div>
                    </div>
                </div>

                <!-- ???? -->

                <div class="dialog" id="node-menu" title="Node Menu">
                    <div class="form-ctrl-group">
                        <div class="form-menu-heading">node</div>
                    </div>
                    <div class="form-ctrl-group">
                        <div class="form-menu-heading">relationships</div>
                        <div id="node-menu-rels"></div>
                    </div>
                </div>

        </div><!-- /container -->
      <script>
if (false) {
         // the WAMP connection to the Router
         //
         var connection = new autobahn.Connection({
            url: wsuri,
            realm: "uchikoma"
         });


         // timers
         //
         var t1, t2;


         // fired when connection is established and session attached
         //
         connection.onopen = function (session, details) {

            console.log("Connected");

            // SUBSCRIBE to a topic and receive events
            //
            function on_counter (args) {
               var counter = args[0];
               console.log("on_counter() event received with counter " + counter);
            }
            session.subscribe('com.example.oncounter', on_counter).then(
               function (sub) {
                  console.log('subscribed to topic');
               },
               function (err) {
                  console.log('failed to subscribe to topic', err);
               }
            );


            // PUBLISH an event every second
            //
            /*
            t1 = setInterval(function () {

               session.publish('com.example.onhello', ['Hello from JavaScript (browser)']);
               console.log("published to topic 'com.example.onhello'");
            }, 1000);
            //*/


            // REGISTER a procedure for remote calling
            //
            function mul2 (args) {
               var x = args[0];
               var y = args[1];
               console.log("mul2() called with " + x + " and " + y);
               return x * y;
            }
            session.register('com.example.mul2', mul2).then(
               function (reg) {
                  console.log('procedure registered');
               },
               function (err) {
                  console.log('failed to register procedure', err);
               }
            );


            // CALL a remote procedure every second
            //
            var x = 0;

            /*
            t2 = setInterval(function () {
               session.call('com.example.add2', [x, 18]).then(
                  function (res) {
                     console.log("add2() result:", res);
                  },
                  function (err) {
                     console.log("add2() error:", err);
                  }
               );

               x += 3;
            }, 1000);
            //*/
         };


         // fired when connection was lost (or could not be established)
         //
         connection.onclose = function (reason, details) {
            console.log("Connection lost: " + reason);
            if (t1) {
               clearInterval(t1);
               t1 = null;
            }
            if (t2) {
               clearInterval(t2);
               t2 = null;
            }
         }


         // now actually open the connection
         //
         connection.open();
}
      </script>
    </body>
</html>

